{% extends "base.html" %}

{% block title %}Try-it | {{ super() }}{% endblock %}

{% block content %}
<div class="container-xl">
  <div class="my-5">
    <h1>Try-it</h1>
    <p class="lead">dwapp demo page</p>
    <p><span class="badge badge-primary">TODO</span></p>
  </div>
  <div class="my-5">
    <h2>Tests</h2>
    <p class="lead">Run test suite directly on your device</p>
    <p><button id="demo-test-start-btn" class="btn btn-primary">Run</button></p>
    <div id="demo-test-report"></div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="/lib/demo.mjs"></script>
{% endblock %}