{% extends "base.html" %}

{% block title %}Try-it | {{ super() }}{% endblock %}

{% block content %}
<div class="container-xl">
  <div class="my-5">
    <h1>Try-it</h1>
    <p class="lead">Demo page</p>
    <p><span class="badge badge-primary">TODO</span></p>
  </div>
  <div class="my-5">
    <h2>Tests</h2>
    <p>Run <code>dwapp</code> test suite directly on your device.</p>
    <div class="m-2">
      <button id="demo-test-start-btn" class="btn btn-primary">Run tests</button>
      <button id="demo-test-clear-btn" class="btn btn-outline-primary">Clear</button>
    </div>
    <div class="alert alert-secondary test-box">
      <div id="demo-test-result" class="m-2"></div>
      <div id="demo-test-report" class="m-2"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="/lib/demo.mjs"></script>
{% endblock %}